<!doctype html>

<html lang="en" ng-app="israApp">

<head>
  <meta charset="utf-8">

  <title>xIsra - ICV Warmup</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="stylesheets/main.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body ng-controller="appController">
  <div class="wrap row" ng-controller="boardController">
    <ul class="inputbar">
      <li><h3>{{config.name}}</h3></li>
      <li><label>Columns</label><input type="number" ng-model="x_count" /></li>
      <li><label>Rows</label><input type="number" ng-model="y_count" /></li>
      <li><label>Default Color</label><input type="text" ng-model="tile.defaultColor" /></li>
      <li><label>Main Color</label><input type="text" ng-model="tile.firstColor" /></li>
      <!-- <label ng-model="tileDimeter">{{tileDimeter}}</label> -->
    </ul>
    <ul class="inputbar sub">
      <!-- <li ng-repeat="control in sidebarControlls" ng-click="control.action()">{{control.label}}</li> -->
      <li class="scenario"><button ng-click="scenario = 'color_swap';">Color Swap</button></li>
      <li class="scenario"><button ng-click="scenario = 'start';">Select Starting Point</button></li>
      <li class="scenario"><button ng-click="scenario = 'end';">Select Ending Point</button></li>
      <li class="scenario"><button ng-click="scenario = 'block';">Select Blocking Points</button></li>
      <li class="action"><button ng-click="pathFinder.showPath()">Run</button></li>
      <li class="action"><button ng-click="clearAllTiles()">CLEAR ALL</button></li>
    </ul>
    <div class="sidebar block">
      <ul>
        <li>Current Action: {{scenario}}</li>
        <li>Starting Tile: {{mazeRun.startingTile.id}} {{mazeRun.startingTile.position}}</li>
        <li>Ending Tile: {{mazeRun.endingTile.id}} {{mazeRun.endingTile.position}}</li>
        <ul>
          <li>Blocking tiles:</li>
          <li ng-repeat="block in mazeRun.blockingTiles">{{block.id}} - {{block.position}}</li>
        </ul>
      </ul>

    </div>
    <div  ng-style="{height:containerDimeter+'px',width:containerDimeter+'px',margin:'0 auto','margin-top':'2em'}">
      <div ng-repeat="n in getTiles(x_count*y_count)" ng-controller="tileController" ng-init="init($index)" ng-click="tileActions[scenario]()" ng-style="{'background-color':tileColor,'height':tileHeightDimeter-2+'px','width':tileWidthDimeter-2+'px','float':'left','border':'1px solid #7f8c8d'}">
        <label class="tile">
          {{label || $index}}
        </label>
      </div>
    </div>
  </div>
  <footer class="footer">Created by: {{config.author}}</footer>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
  <script src="lib/angular.min.js"></script>
  <script src="src/xApp.js"></script>
  <script src="src/controllers/appController.js"></script>
  <script src="src/controllers/boardController.js"></script>
  <script src="src/controllers/tileController.js"></script>
  <script src="src/controllers/sidebarController.js"></script>
  <!-- <script src="src/controllers/inputbarController.js"></script> -->
  <!-- <script src="src/controllers/sidebarController.js"></script> -->
</body>

</html>
