@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
body {
  margin: 0;
  padding: 0;
  background-color: #34495e;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrap {
  display: block;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.row:before, .row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.row:after {
  clear: both;
}

.container {}

.row {}

.block {
  display: block;
  float: left;
}

.tile {
  display: block;
  margin: 25% auto;
  text-align: center;
}

.inputbar {
  width: 100%;
  background: #ecf0f1;
  overflow: hidden;
}

.inputbar li {
  float: left;
  padding: 0.5em;
  margin: 0.5em;
}

.inputbar li h3 {}

.inputbar li label {}

.inputbar li input {
  padding: 0.5em;
  margin: 1.5em;
  background-color: #bdc3c7;
  border: none;
  font-weight: 700;
}

.inputbar li button {
  padding: 0.5em;
  margin: 1.5em;
  background-color: #bdc3c7;
  border: none;
  font-weight: 700;
}

.inputbar li button:hover {
  background-color: #2ecc71;
  cursor: pointer;
}

.inputbar.sub {
  background: #2c3e50;
}

.inputbar.sub li input, .inputbar.sub li button {
  padding: 0.5em;
  margin: 0;
}

.sidebar {
  position: absolute;
  left: 0;
  width: 20%;
  margin-top: 2em;
  min-height: 20%;
  background: #bdc3c7;
  border-right: 3px solid #7f8c8d;
}

.sidebar ul {
  margin: 1em 1em;
}

.sidebar ul>li {
  margin: 1em 1.5em;
  border-bottom: 1px solid #7f8c8d;
}

.footer {
  display: block;
  z-index: 9999;
  width: 100%;
  padding: 2em;
  margin-top: 3em;
  background-color: #bdc3c7;
}

.footer label {}

.footer ul {}

.footer ul li {}

.footer ul li a {}
